@import "tailwindcss";

@theme {
  --color-primary: #0F766E;
  --color-primary-dark: #0f766e;
  --color-primary-light: #99f6e4;

  --color-accent: #8b5cf6;
  --color-accent-light: #c4b5fd;
  --color-accent-dark: #6d28d9;

  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;
  --color-info: #2563eb;

  --color-background: #f8fafc;
  --color-surface: #ffffff;
  --color-surface-hover: #f1f5f9;
  --color-border: #e2e8f0;

  --color-text-primary: #0f172a;
  --color-text-secondary: #64748b;
  --color-text-muted: #94a3b8;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

.button {
  @apply bg-primary py-2 p-5 rounded text-white cursor-pointer my-2
}

select {
  @apply p-2 my-2 border-1 rounded
}

textarea {
  @apply border-1 rounded border-gray-300 p-2;
}

.form-group {
  @apply flex flex-col gap-1 my-5;

  input,select {
    @apply border-1 rounded p-2;
  }
}

@keyframes spin {
    0% { transform:rotate(0deg)}
    100% { transform:rotate(360deg)}
}

.spinner-loading {
    animation: spin 1.25s linear infinite;
}